@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-16">
    <h1 class="text-[calc(1.375rem+1.5vw)] font-medium mb-2 leading-[1.2]">Welcome</h1>
    <p class="text-[1rem] text-[#212529]">Learn about <a class="text-[#0d6efd] hover:underline" href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
